@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.pb {
  height: 4px;
}
.container_pb {
  height: 4px;
  background-color: #ffffff;
}
.barCompleted {
  background-color: lightblue;
}

.label {
  font-size: 8px;
  color: green;
}